
<div>
<form #profileForm="ngForm" (ngSubmit)="setUserProfile(profileForm)">
<p>Use the form below to update your profile</p>

<label for="">Name</label>
<input type="text" name="name" [(ngModel)]="profileForm.name">

<label for="">Contact</label>
<input type="text" name="contact" [(ngModel)]="profileForm.contact">

<label for="">Bio</label>
<input type="text" name="bio"[(ngModel)]="profileForm.bio">

<button>Update</button>
</form>
</div>
<!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans&display=swap" rel="stylesheet"> -->